<h3>Taken</h3>
<span class="glyphicon glyphicon-question-sign" data-bind="click: taakModel.hideOrDisplay"></span>
<div id="zelfToevoegen" style="display:none">Een bestaande taak toevoegen? Voeg dan 1 label toe met <span
        data-bind="text: taakModel.soortEntiteit"></span> en 1 label met <span data-bind="text: taakModel.id"></span>
</div>

<textarea id="nieuweTaakTextarea" data-bind="value: taakModel.nieuweTaakTekst"
          placeholder="Tekst voor nieuwe taak"></textarea><br/>
<input type="text" id="nieuweTaakReminder"
       data-bind="value: taakModel.nieuweTaakReminder, event: {blur: exitNieuweTaakReminder}"
       placeholder="Tijdstip voor reminder, Optioneel (dd-mm-yyyy hh:mm)" style="width:350px !important;"/><br/>
<button id="voegTaakToe" class="btn btn-primary" data-bind="click: taakModel.voegTaakToe">Opslaan</button>

<div id="takenForEach" data-bind="foreach: taakModel.taken, visible: taakModel.taken().length > 0">
    <hr/>
    <a class="glyphicon glyphicon-new-window" data-bind="attr:{href: link}" target="_blank"></a>
    <span data-bind="text: titel"></span>

    <span class="glyphicon glyphicon-plus"
          data-bind="visible: showKlapOpenKnop,attr:{id: idShowKnop}, click: $parent.taakModel.klapOpenOfDicht"></span>
    <span class="glyphicon glyphicon-minus" style="display:none;"
          data-bind="attr:{id: idHideKnop}, click: $parent.taakModel.klapOpenOfDicht"></span>
    <div data-bind="attr:{id: id}" style="display: none;">
        <div name="notesForEach" data-bind="foreach: notities, visible: notities().length > 0">
            <span data-bind="text: user"></span>
            <span data-bind="text: tijdstip"></span>
            <div data-bind="text: omschrijving"></div>
            <br/>
        </div>
    </div>
</div>

<h3>Afgeronde Taken</h3>
<div id="afgerondeTakenForEach"
     data-bind="foreach: taakModel.afgerondeTaken, visible: taakModel.afgerondeTaken().length > 0">
    <hr/>
    <a class="glyphicon glyphicon-new-window" data-bind="visible: !link, attr:{href: link}" target="_blank"></a>
    <span data-bind="text: titel"></span>

    <span class="glyphicon glyphicon-plus"
          data-bind="visible: showKlapOpenKnop,attr:{id: idShowKnop}, click: $parent.taakModel.klapOpenOfDicht"></span>
    <span class="glyphicon glyphicon-minus" style="display:none;"
          data-bind="attr:{id: idHideKnop}, click: $parent.taakModel.klapOpenOfDicht"></span>
    <div data-bind="attr:{id: id}" style="display: none;">
        <div name="notesForEach" data-bind="foreach: notities, visible: notities().length > 0">
            <span data-bind="text: user"></span>
            <span data-bind="text: tijdstip"></span>
            <div data-bind="text: omschrijving"></div>
            <br/>
        </div>
    </div>
    </span>
