<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

    <!-- Activemq connection factory -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"
          p:brokerURL="tcp://localhost:61616" p:userName="admin" p:password="secret"/>

    <!-- ConnectionFactory Definition -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory"/>
    </bean>

    <bean id="verwijderEntiteitenRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.VerwijderEntiteitenRequestReciever"/>

    <jms:listener-container container-type="default"
                            connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="oga.verwijderEntiteitenRequestQueue" ref="verwijderEntiteitenRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <bean id="verwijderEntiteitRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.VerwijderEntiteitRequestReciever"/>

    <jms:listener-container container-type="default"
                            connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="rb.oga.verwijderEntiteitRequestQueue" ref="verwijderEntiteitRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <bean id="opslaanEntiteitenRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.OpslaanEntiteitenRequestReciever"/>

    <jms:listener-container container-type="default"
                            connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="rb.oga.opslaanEntiteitenRequestQueue" ref="opslaanEntiteitenRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <bean id="entiteitenOpgeslagenRequestDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="id.entiteitenOpgeslagenRequestQueue"/>
    </bean>
    <bean id="entiteitenOpgeslagenRequestTemplate" class="org.springframework.jms.core.JmsTemplate"
          depends-on="entiteitenOpgeslagenRequestDestination">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="entiteitenOpgeslagenRequestDestination"/>
    </bean>
    <bean id="entiteitenOpgeslagenRequestSender"
          class="nl.lakedigital.djfc.messaging.sender.EntiteitenOpgeslagenRequestSender"
          depends-on="entiteitenOpgeslagenRequestTemplate">
        <constructor-arg index="0" ref="entiteitenOpgeslagenRequestTemplate"/>
    </bean>

    <bean id="entiteitenVerwijderdRequestDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="id.verwijderEntiteitenRequestQueue"/>
    </bean>
    <bean id="entiteitenVerwijderdRequestTemplate" class="org.springframework.jms.core.JmsTemplate"
          depends-on="entiteitenVerwijderdRequestDestination">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="entiteitenVerwijderdRequestDestination"/>
    </bean>
    <bean id="entiteitenVerwijderdRequestSender"
          class="nl.lakedigital.djfc.messaging.sender.EntiteitenVerwijderdRequestSender"
          depends-on="entiteitenVerwijderdRequestTemplate">
        <constructor-arg index="0" ref="entiteitenVerwijderdRequestTemplate"/>
    </bean>
</beans>