<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

    <!--<bean id="redisConnectionFactory" class="o.s.data.redis.connection.jedis.JedisConnectionFactory">-->
    <!--<property name="port" value="6379" />-->
    <!--</bean>-->
    <!---->
    <!--<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">-->
    <!--<property name="connectionFactory" ref="redisConnectionFactory"/>-->
    <!--</bean>-->
    <!---->
    <!--<int-redis:publish-subscribe-channel id="redisChannel" topic-name="si.test.topic"/>-->

    <!--<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"/>-->
    <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">-->
    <!--<constructor-arg index="0" ref="poolConfig"/>-->
    <!--<constructor-arg index="1" value="localhost"/>-->
    <!--<constructor-arg index="2" value="6379"/>-->
    <!--<constructor-arg index="3" value="0"/>-->
    <!--</bean>-->
    <!---->
    <!--<bean id="licentieToegevoegdRequestReciever" class="nl.lakedigital.djfc.messaging.reciever.LicentieToegevoegdReciever" destroy-method="unsubscribe">-->
    <!--<constructor-arg index="0" ref="jedisPool"/>-->
    <!--<constructor-arg index="1" value="deChannel"/>-->
    <!--</bean>-->

    <!-- Activemq connection factory -->
    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory"
          p:brokerURL="tcp://localhost:61616" p:userName="admin" p:password="secret"/>

    <!-- ConnectionFactory Definition -->
    <bean id="connectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="amqConnectionFactory"/>
    </bean>

    <bean id="licentieGekochtRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.LicentieGekochtRequestReciever"/>
    <jms:listener-container container-type="default" connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="rb.lb.licentieGekochtRequestQueue" ref="licentieGekochtRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <bean id="kantoorAangemeldRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.KantoorAangemeldRequestReciever"/>
    <jms:listener-container container-type="default" connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="rb.lb.kantoorAangemeldRequestQueue" ref="kantoorAangemeldRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <bean id="controleerLicentieRequestReciever"
          class="nl.lakedigital.djfc.messaging.reciever.ControleerLicentieRequestReciever"/>
    <jms:listener-container container-type="default" connection-factory="connectionFactory" acknowledge="auto">
        <jms:listener destination="rb.lb.controleerLicentieRequestQueue" ref="controleerLicentieRequestReciever"
                      method="onMessage"/>
    </jms:listener-container>

    <!--<jms:listener-container container-type="default"-->
    <!--connection-factory="connectionFactory" acknowledge="auto">-->
    <!--<jms:listener destination="id.verwijderEntiteitenRequestQueue" ref="verwijderEntiteitenRequestReciever"-->
    <!--method="onMessage"/>-->
    <!--</jms:listener-container>-->

    <bean id="controleerLicentieResponseDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="lb.rb.controleerLicentieResponseQueue"/>
    </bean>
    <bean id="controleerLicentieResponseTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="controleerLicentieResponseDestination"/>
    </bean>
    <bean id="controleerLicentieResponseSender"
          class="nl.lakedigital.djfc.messaging.sender.ControleerLicentieResponseSender">
        <constructor-arg index="0" ref="controleerLicentieResponseTemplate"/>
    </bean>

    <bean id="licentieGekochtResponseDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="lb.rb.licentieGekochtResponseQueue"/>
    </bean>
    <bean id="licentieGekochtResponseTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="licentieGekochtResponseDestination"/>
    </bean>
    <bean id="licentieGekochtResponseSender"
          class="nl.lakedigital.djfc.messaging.sender.LicentieGekochtResponseSender">
        <constructor-arg index="0" ref="licentieGekochtResponseTemplate"/>
    </bean>

</beans>