<ul class="nav nav-tabs" role="tablist">
	<li>
		<div class="navdiv" id="beherenBedrijf">Bedrijfsgegevens</div>
	</li>

	<li class="dropdown"><a href="#" id="menuPolissenTop" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Polissen<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="menuPolissen">Overzicht</div></li>
			<li><div class="navdiv" id="menuPolis">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" id="menuSchadesTop" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Schades<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="menuSchades">Overzicht</div></li>
			<li><div class="navdiv" id="menuSchade">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" id="jaarcijfers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jaarcijfers</a>
	</li>
	<li class="dropdown"><a href="#" id="risicoanalyes" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false">Risico analyses</a>
	</li>
</ul>
<input type="hidden" id="id" name="id" data-bind="value: id" />

<div id="details">details</div>

