<div class="form-group">
    <label for="verzekeringsMaatschappijen">Maatschappij en Soort</label>
    <select id="verzekeringsMaatschappijen" name="verzekeringsMaatschappijen"
            data-bind="value: maatschappij, disable: $root.readOnly"></select>
    <select id="soortVerzekering" name="soortVerzekering" data-bind="value: soort, disable: readOnly"></select>
</div>
<input type="hidden" id="polisId"/>
<div class="form-group">
    <label for="status">Status</label>
    <select id="status" name="status" data-bind="value: status, disable: readOnly">
        <option value="Aanvraag/Offerte">Aanvraag/Offerte</option>
        <option value="Actief">Actief</option>
        <option value="Geschorst">Geschorst</option>
        <option value="Premievrij">Premievrij</option>
        <option value="Beindigd">Beindigd</option>
    </select>
</div>
<div class="form-group">
    <label for="polisNummer">Polisnummer</label>
    <input class="form-control" type="text" id="polisNummer" name="polisNummer" placeholder="Polisnummer..."
           maxlength="25" data-bind="value: polisNummer, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="kenmerk">Kenmerk</label>
    <input class="form-control" type="text" id="kenmerk" name="kenmerk" placeholder="Kenmerk..." maxlength="100"
           data-bind="value: kenmerk, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="dekking">Dekking</label>
    <input class="form-control" type="text" id="dekking" name="dekking" placeholder="Dekking..." maxlength="250"
           data-bind="value: dekking, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="verzekerdeZaak">Verzekerde Zaak/Object</label>
    <input class="form-control" type="text" id="verzekerdeZaak" name="verzekerdeZaak"
           placeholder="Verzekerde Zaak/Object..." maxlength="250"
           data-bind="value: verzekerdeZaak, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="premie">Premie</label>
    <input class="form-control" type="text" id="premie" placeholder="Premie..."
           data-bind="value: premie, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="ingangsDatumString">Ingangsdatum</label>
    <input class="form-control" type="text" id="ingangsDatumString" placeholder="Ingangs datum..."
           data-bind="value: ingangsDatum, event: {blur: veranderDatum(ingangsDatum), blur: berekenProlongatieDatum}, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="wijzigingsdatumString">Wijzigingsdatum</label>
    <input class="form-control" type="text" id="wijzigingsdatumString" placeholder="Wijzigingsdatum..."
           data-bind="value: wijzigingsDatum, event: {blur: veranderDatum(wijzigingsDatum)}, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="prolongatiedatumString">Prolongatiedatum</label>
    <input class="form-control" type="text" id="prolongatiedatumString" placeholder="Prolongatiedatum..."
           data-bind="value: prolongatieDatum, event: {blur: veranderDatum(prolongatieDatum)}, disable: readOnly"/>
</div>
<div class="form-group">
    <label for="betaalfrequentie">Betaalfrequente</label>

    <div id="div_betaalfrequentie">
        <select id="betaalfrequentie" data-bind="value: betaalfrequentie, disable: readOnly">
            <option value="">Betaalfrequentie...</option>
            <option value="Maand">Maand</option>
            <option value="Kwartaal">Kwartaal</option>
            <option value="Half jaar">Half jaar</option>
            <option value="Jaar">Jaar</option>
        </select>
    </div>
</div>
<br/>
<div class="form-group">
    <label for="omschrijvingVerzekering">Omschrijving Verzekering</label>
    <textarea id="omschrijvingVerzekering" placeholder="Omschrijving Verzekering..."
              data-bind="value: omschrijvingVerzekering, disable: readOnly"></textarea>
</div>

<div id="fileUpload"></div>

<hr/>

<div id="opmerkingen"></div>

<hr/>

<div class="form-group">
    <label for="opslaanPolis">&nbsp;</label>
    <button id="opslaanPolis" class=" btn btn-primary" data-bind="click: opslaan, disable: readOnly">Opslaan</button>
    <button type="button" class="btn btn-warning" data-bind="click: annuleren, visible: notReadOnly">Annuleren</button>
    <button type="button" class="btn btn-warning" data-bind="click: annuleren, visible: readOnly">Terug</button>
</div>