<div id="polissenHerhaal" data-bind="foreach: polissen, visible: polissen().length > 0">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 data-bind="attr:{class: className}">
					<a data-toggle="collapse" data-parent="#accordion" name="polis-titel"
					   data-bind="attr:{href: idDivLink}, text: titel"></a>
					&nbsp;&nbsp;&nbsp;
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="dropdown">
							Kies een actie <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<span class="glyphicon glyphicon-eye-open" style="cursor:pointer;"
									  data-bind="click: $parent.polisInzien"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.polisInzien" name="polisInzien">Inzien</span>
							</li>
							<li class="divider"></li>
							<li>
								<span class="glyphicon glyphicon-pencil" style="cursor:pointer;"
									  data-bind="click: $parent.bewerkPolis"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.bewerkPolis" name="bewerkPolis">Bewerken</span>
							</li>
							<li class="divider"></li>
							<li>
								<span class="glyphicon glyphicon-pencil" style="cursor:pointer;"
									  data-bind="click: $parent.beeindigPolis"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.beeindigPolis"
									  name="beeindigPolis">Beeindigen</span>
							</li>
							<li class="divider"></li>
							<li>
								<span class="glyphicon glyphicon-trash" style="cursor:pointer;"
									  data-bind="click: $parent.verwijderPolis"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.verwijderPolis"
									  name="verwijderPolis">Verwijderen</span>
							</li>
						</ul>
					</div>
				</h4>
			</div>
			<table>
				<thead>
				<tr>
					<th style="width:250px;">Polisnummer</th>
					<th style="width:250px;">Status</th>
					<th style="width:250px;">Verzekerde zaak</th>
					<th style="width:250px;">Maatschappij</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td name="tableRowPolisNummer" data-bind="text: polisNummer"></td>
					<td name="tableRowStatus" data-bind="text: status"></td>
					<td name="tableRowVerzekerdeZaak" data-bind="text: verzekerdeZaak"></td>
					<td name="tableRowMaatschappij" data-bind="text: maatschappij.omschrijving"></td>
				</tr>
				</tbody>
			</table>
			<div data-bind="attr:{id: idDiv}" class="panel-collapse collapse">
				<div class="panel-body">
					<div data-bind="if: status">
						<span class="polisLabel">Status :</span>
						<span name="status" data-bind="text: status"></span>
					</div>
					<div data-bind="if: polisNummer">
						<span class="polisLabel">Polisnummer :</span>
						<span name="polisNummer" data-bind="text: polisNummer"></span>
					</div>
					<div data-bind="if: kenmerk">
						<span class="polisLabel">Kenmerk :</span>
						<span name="kenmerk" data-bind="text: kenmerk"></span>
					</div>
					<div data-bind="if: ingangsDatum">
						<div data-bind="if: ingangsDatum">
							<span class="polisLabel">Ingangsdatum :</span>
							<span name="ingangsDatum" data-bind="text: ingangsDatum"></span>
						</div>
						<div data-bind="if: eindDatum">
							<span class="polisLabel">Einddatum :</span>
							<span name="eindDatum" data-bind="text: eindDatum"></span>
						</div>
						<div data-bind="if: wijzigingsDatum">
							<span class="polisLabel">Wijzigingsdatum :</span>
							<span name="wijzigingsDatum" data-bind="text: wijzigingsDatum"></span>
						</div>
						<div data-bind="if: prolongatieDatum">
							<span class="polisLabel">Prolongatie :</span>
							<span name="prolongatieDatum" data-bind="text: prolongatieDatum"></span>
						</div>
						<div data-bind="if: maatschappij">
							<span class="polisLabel">Maatschappij :</span>
							<span name="maatschappij" data-bind="text: maatschappij.omschrijving"></span>
						</div>
						<div data-bind="if: premie">
							<span class="polisLabel">Premie :</span>
							<span name="premie" data-bind="text: $parent.formatBedrag(premie)"></span>
						</div>
						<div data-bind="if: betaalfrequentie">
							<span class="polisLabel">Betaalfrequentie :</span>
							<span name="betaalfrequentie" data-bind="text: betaalfrequentie"></span>
						</div>
						<div data-bind="if: bedrijf">
							<span class="polisLabel">Bedrijf :</span>
							<span name="bedrijf" data-bind="text: bedrijf"></span>
						</div>
						<div data-bind="if: omschrijvingVerzekering">
							<span class="polisLabel">Omschrijving Verzekering :</span>
							<span name="omschrijvingVerzekering" data-bind="text: omschrijvingVerzekering"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>