<img src="images/add.png" alt="Toevoegen Bedrijf" id="toevoegenNieuwBedrijf" data-bind="click: toevoegenNieuwBedrijf"
	 style="cursor:pointer;"/>

<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Zoekopdracht..." id="zoekTerm"
				   data-bind="value: zoekTerm">
			<button class="btn btn-default" type="button" data-bind="click: zoeken" id="zoeken">Zoek</button>
		</div>
	</div>
</div>
<br />
<div data-bind="visible: gezochtMetTonen" id="gezochtMetTonen">
	Gezocht met: <span data-bind="text: gezochtMet"/>
</div>
<br />
<table class="table">
	<tr>
		<th>Naam</th>
		<th>Adres</th>
	</tr>
	<tbody data-bind="foreach: lijst">
		<tr>
			<td data-bind="text : naam, click: $parent.naarDetailScherm" name="naam" style="cursor:pointer;"></td>
			<td data-bind="text : $parent.maakAdresOp(adressen), click: $parent.naarDetailScherm" name="adres"
				style="cursor:pointer;"></td>
		</tr>
	</tbody>
</table>