<img src="images/add.png" alt="Toevoegen Relatie" id="toevoegenNieuweRelatie" data-bind="click: toevoegenNieuweRelatie" style="cursor:pointer;" />

<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Zoekopdracht..." id="zoekTerm"
				   data-bind="value: zoekTerm">
			<button class="btn btn-default" type="button" data-bind="click: zoeken" id="zoeken">Zoek</button>
		</div>
	</div>
</div>
<br />
<div data-bind="visible: gezochtMetTonen" id="gezochtMetTonen">
	Gezocht met: <span data-bind="text: gezochtMet"/>
</div>
<br />
<table class="table">
	<tr>
		<th>Voornaam</th>
		<th>Tussenvoegsel</th>
		<th>Achternaam</th>
		<th>Geboortedatum</th>
		<th>Adres</th>
	</tr>
	<tbody data-bind="foreach: lijst">
		<tr>
			<td data-bind="text : voornaam, click: $parent.naarDetailScherm" name="voornaam" style="cursor:pointer;"></td>
			<td data-bind="text : tussenvoegsel, click: $parent.naarDetailScherm" name="tussenvoegsel" style="cursor:pointer;"></td>
			<td data-bind="text : achternaam, click: $parent.naarDetailScherm" name="achternaam" style="cursor:pointer;"></td>
			<td data-bind="text : geboorteDatum, click: $parent.naarDetailScherm" name="geboortedatum" style="cursor:pointer;"></td>
			<td data-bind="text : $parent.maakAdresOp(adressen), click: $parent.naarDetailScherm" name="adres"
				style="cursor:pointer;"></td>
		</tr>
	</tbody>
</table>