<h3>
    Taken
    <!--&nbsp;<span class="fa fa-plus rechts-icon" aria-hidden="true" data-bind="click: takenViewmodel.voeTaakToe"-->
    <!--id="voeTaakToe"-->
    <!--style="cursor:pointer">Toevoegen</span>-->
</h3>

<!--<button id="voegTaakToe" class="btn btn-primary" data-bind="click: takenViewmodel.voegTaakToe">Opslaan</button>-->

<div id="takenForEach" data-bind="foreach: takenViewmodel.taken, visible: takenViewmodel.taken().length > 0">
    <hr/>
    <span data-bind="if: tijdstipCreatie() != null">
        <span data-bind="text: titel"></span>
    </span>

    <span data-bind="if: tijdstipCreatie() == null">
        <textarea id="nieuweTaakTextarea" data-bind="value: titel"
                  placeholder="Tekst voor nieuwe taak"></textarea><br/>
        <input type="text" id="nieuweTaakDeadline"
               data-bind="value: deadline, event: {blur: $parent.takenViewmodel.exitNieuweTaakDeadline}"
               placeholder="Tijdstip deadline, Optioneel (dd-mm-yyyy hh:mm)" style="width:395px !important;"/><br/>
        <select id="toewijzenAan" data-bind="value: toegewezenAan">
        </select>
    </span>

    <!--<span class="glyphicon glyphicon-plus"-->
    <!--data-bind="visible: showKlapOpenKnop,attr:{id: idShowKnop}, click: $parent.takenViewmodel.klapOpenOfDicht"></span>-->
    <!--<span class="glyphicon glyphicon-minus" style="display:none;"-->
    <!--data-bind="attr:{id: idHideKnop}, click: $parent.takenViewmodel.klapOpenOfDicht"></span>-->
    <!--<div data-bind="attr:{id: id}" style="display: none;">-->
    <!--<div name="notesForEach" data-bind="foreach: notities, visible: notities().length > 0">-->
    <!--<span data-bind="text: user"></span>-->
    <!--<span data-bind="text: tijdstip"></span>-->
    <!--<div data-bind="text: omschrijving"></div>-->
    <!--<br/>-->
    <!--</div>-->
    <!--</div>-->
</div>

<h3>Afgeronde Taken</h3>
<div id="afgerondeTakenForEach"
     data-bind="foreach: takenViewmodel.afgerondeTaken, visible: takenViewmodel.afgerondeTaken().length > 0">
    <hr/>
    <span data-bind="text: titel"></span>

    <!--<span class="glyphicon glyphicon-plus"-->
    <!--data-bind="visible: showKlapOpenKnop,attr:{id: idShowKnop}, click: $parent.takenViewmodel.klapOpenOfDicht"></span>-->
    <!--<span class="glyphicon glyphicon-minus" style="display:none;"-->
    <!--data-bind="attr:{id: idHideKnop}, click: $parent.takenViewmodel.klapOpenOfDicht"></span>-->
    <!--<div data-bind="attr:{id: id}" style="display: none;">-->
    <!--<div name="notesForEach" data-bind="foreach: notities, visible: notities().length > 0">-->
    <!--<span data-bind="text: user"></span>-->
    <!--<span data-bind="text: tijdstip"></span>-->
    <!--<div data-bind="text: omschrijving"></div>-->
    <!--<br/>-->
    <!--</div>-->
    </div>
</span>
