<h3>Telefoongesprekken</h3>
<div data-bind="foreach: telefonie.gesprekken, visible: telefonie.gesprekken().length > 0">
    <span name="ingaandUitgaand" data-bind="visible: uitgaand">Uitgaand</span>
    <span name="ingaandUitgaand" data-bind="visible: inkomend">Inkomend</span>
    ,
    <span name="telefoonnummer" data-bind="text: $parent.telefonie.zetTelefoonnummerOm(telefoonnummer)"/>
    (<span name="telefoonnummer" data-bind="text: $parent.telefonie.formatDatumTijd(tijdstip)"/>)
    <br/>
    <audio controls>
        <source data-bind="attr: {src: $parent.telefonie.maakUrl(bestandsnaam)}" type="audio/wav">
    </audio>
    <br/>
</div>