<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- APPENDERS LIST -->
	<!-- show log entries on console -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out"/>
		<!--<param name="threshold" value="debug" />-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n"/>
		</layout>
	</appender>

	<appender name="debugFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="target/logs/pa.log"/>
		<param name="immediateFlush" value="true"/>
		<!--<param name="threshold" value="debug"/>-->
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n"/>
		</layout>
	</appender>

	<logger name="javax.enterprise.system">
		<level value="error"/>
	</logger>
	<logger name="javax.persistence">
		<level value="info"/>
	</logger>
	<logger name="org.springframework">
		<level value="info"/>
	</logger>
	<logger name="org.apache">
		<level value="error"/>
	</logger>
	<logger name="org.hibernate">
		<level value="error"/>
	</logger>
	<logger name="ch.vorburger">
		<level value="off"/>
	</logger>
    <logger name="com.btmatthews">
        <level value="debug"/>
    </logger>
	<!--<logger name="nl.lakedigital.djfc">-->
	<!--<level value="trace" />-->
	<!--</logger>-->

	<root>
		<priority value="trace"/>
		<appender-ref ref="console" />
		<appender-ref ref="debugFileAppender"/>
	</root>
</log4j:configuration>