<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="nl.lakedigital.djfc"/>
    <context:component-scan base-package="nl.dias.domein"/>
    <context:component-scan base-package="nl.dias.mapper"/>
    <context:component-scan base-package="nl.dias.web.mapper"/>
    <context:component-scan base-package="nl.dias.repository"/>
    <context:component-scan base-package="nl.dias.service"/>
    <context:component-scan base-package="nl.dias.messaging"/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <!--<property name="uniqueResourceName" value="NonXA_DataSource" />-->
        <!--<property name="minPoolSize" value="2" />-->
        <!--<property name="maxPoolSize" value="30" />-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <property name="url" value="jdbc:mysql://localhost:3315/test"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
        <!--<property name="url" value="jdbc:mysql://89.18.180.239:3306/patrick_unittest" />-->
        <!--<property name="username" value="patrick_unittest" />-->
        <!--<property name="password" value="7jAASQFX" />-->
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>nl.dias</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
    <bean id="adresClient" class="nl.lakedigital.djfc.client.oga.AdresClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="bijlageClient" class="nl.lakedigital.djfc.client.oga.BijlageClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="communicatieClient" class="nl.lakedigital.djfc.client.communicatie.CommunicatieClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="groepBijlagesClient" class="nl.lakedigital.djfc.client.oga.GroepBijlagesClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="opmerkingClient" class="nl.lakedigital.djfc.client.oga.OpmerkingClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="polisClient" class="nl.lakedigital.djfc.client.polisadministratie.PolisClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="rekeningClient" class="nl.lakedigital.djfc.client.oga.RekeningClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="schadeClient" class="nl.lakedigital.djfc.client.polisadministratie.SchadeClient">
        <constructor-arg value="${pa.url}"/>
    </bean>
    <bean id="telefoonnummerClient" class="nl.lakedigital.djfc.client.oga.TelefoonnummerClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="telefonieBestandClient" class="nl.lakedigital.djfc.client.oga.TelefonieBestandClient">
        <constructor-arg value="http://localhost:7075/dejonge"/>
    </bean>
    <bean id="taakClient" class="nl.lakedigital.djfc.client.taakbeheer.TaakClient">
        <constructor-arg value="${tb.url}"/>
    </bean>
    <bean id="identificatieClient" class="nl.lakedigital.djfc.client.identificatie.IdentificatieClient">
        <constructor-arg value="${id.url}"/>
    </bean>

    <import resource="applicationContext-jms.xml"/>
</beans>
