<!--<h3>Taken</h3>-->
<table style="width:100%;">
    <thead>
    <tr>
        <th>Status</th>
        <th>Titel</th>
        <th>Tijdstip Creatie</th>
        <th>Deadline</th>
        <th>Toegewezen aan</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: taken">
    <tr>
        <td><a data-bind="text: status"></a></td>
        <td><a data-bind="text: titel"></a></td>
        <td><a data-bind="text: tijdstipCreatie"></a></td>
        <td><a data-bind="text: deadline"></a></td>
        <td><a data-bind="text: toegewezenAan"></a></td>
    </tr>
    </tbody>
</table>
<!--<div class="zoekvelden">-->
<!--<hr/>-->
<!--</div>-->
<!--<div class="top-zoek-scherm">-->
<!--<form>-->
<!--<div class="zoekvelden">-->
<!--<label>Naam</label><input type="text" data-bind="value: zoekvelden.naam"/>-->
<!--<label>Geboortedatum</label><input type="date" data-bind="value: zoekvelden.geboortedatum"/>-->
<!--<label>Tussenvoegsel</label><input type="text" data-bind="value: zoekvelden.tussenvoegsel"/>-->
<!--<label>Polisnummer</label><input type="text" data-bind="value: zoekvelden.polisnummer"/>-->
<!--<label>Voorletters</label><input type="text" data-bind="value: zoekvelden.voorletters"/>-->
<!--<label>Schadenummer</label><input type="text" data-bind="value: zoekvelden.schadenummer"/>-->
<!--<label>Adres</label><input type="text" data-bind="value: zoekvelden.adres"/>-->
<!--<label>Postcode</label><input type="text" data-bind="value: zoekvelden.postcode"/>-->
<!--<label>Woonplaats</label><input type="text" data-bind="value: zoekvelden.woonplaats"/>-->
<!--<label>Bedrijf</label><input type="checkbox" data-bind="checked: zoekvelden.bedrijf"/>-->
<!--</div>-->
<!--<div class="zoekknop">-->
<!--<button data-bind="click: zoeken">Zoeken&nbsp;<span class="fa fa-search" aria-hidden="true"/></button>-->
<!--</div>-->
<!--</form>-->
<!--<div class="actiepunten">-->
<!--&nbsp;-->
<!--</div>-->
<!--<div class="clear"/>-->
<!--</div>-->
<!---->
<!--<h3>Statusoverzicht</h3>-->
<!--<div class="zoekvelden">-->
<!--<hr/>-->
<!--</div>-->
<!--<br/>-->
<!---->
<!--<div class="eerste box">-->
<!--<div class="centreren">-->
<!--<a class="aantal" data-bind="text: aantalRelaties" href="/zoeken.html"></a>-->
<!--</div>-->
<!--<hr/>-->
<!--<div>Relaties</div>-->
<!--</div>-->
<!---->
<!--<div class="box">-->
<!--<div class="centreren">-->
<!--<a class="aantal" data-bind="text: aantalOpenTaken" href="/taken.html"></a>-->
<!--</div>-->
<!--<hr/>-->
<!--<div>Openstaande taken</div>-->
<!--</div>-->
<!---->
<!--<div class="box">-->
<!--<div class="centreren">-->
<!--<a class="aantal" data-bind="text: aantalOpenSchades" href="/beheren.html#schades"></a>-->
<!--</div>-->
<!--<hr/>-->
<!--<div>Open schaden</div>-->
<!--</div>-->
<div class="clear:both;"></div>