<div>
    <div class="kolom-2">
        <h3>Persoonsgegevens</h3>

        <label for="voornaam">Voornamen</label>
        <input type="text" id="voornaam" data-bind="value: relatie.voornaam"/>

        <label for="roepnaam">Roepnaam</label>
        <input type="text" id="roepnaam" data-bind="value: relatie.roepnaam"/>

        <label for="tussenvoegsel">Tussenvoegsel</label>
        <input type="text" id="tussenvoegsel" data-bind="value: relatie.tussenvoegsel"/>

        <label for="achternaam">Achternaam</label>
        <input type="text" id="achternaam" data-bind="value: relatie.achternaam"/>

        <label for="geboorteDatum">Geboortedatum</label>
        <input type="date" id="geboorteDatum" data-bind="value: relatie.geboorteDatum"/>

        <label for="overlijdensdatum">Overlijdensdatum</label>
        <input type="date" id="overlijdensdatum" data-bind="value: relatie.overlijdensdatum"/>

        <label for="geslacht">Geslacht</label>
        <select id="geslacht" data-bind="value: relatie.geslacht">

            <option value="Man">Man</option>
            <option value="Vrouw">Vrouw</option>
        </select>

        <label for="burgerlijkeStaat">Burgerlijke staat</label>
        <select id="burgerlijkeStaat" data-bind="value: relatie.burgerlijkeStaat">
            <option value="Ongehuwd">Ongehuwd</option>
            <option value="Gehuwd GVG">Gehuwd GVG</option>
            <option value="Gehuwd HV">Gehuwd HV</option>
            <option value="Thuiswonend">Thuiswonend</option>
            <option value="Samenwonend">Samenwonend</option>
            <option value="Samenlevingscontract">Samenlevingscontract</option>
            <option value="Weduwe/Weduwnaar">Weduwe/Weduwnaar</option>
        </select>

        <label for="emailadres">E-mailadres</label>
        <input type="email" id="emailadres" data-bind="value: relatie.emailadres"/>

        <label>&nbsp;</label>
        <a href="mailto:" data-bind="attr: {href: 'mailto:' + relatie.emailadres()}, text: relatie.emailadres"
           id="mailtolink"></a>

        <div id="adressen"></div>

        <div id="taken"></div>
    </div>

    <div class="kolom-2">
        <div id="telefoonnummers"></div>

        <div id="telefonie"></div>

        <div id="rekeningnummers"></div>

        <div id="bijlages"></div>

        <div id="opmerkingen"></div>

        <div id="taken"></div>
    </div>
    <div style="clear: both;"></div>
</div>

<div style="clear: both;"></div>
<button id="opslaanRelatie" class="fa fa-floppy-o fa-3x btn-awesome" data-bind="click: opslaan"></button>
<button class="fa fa-times fa-3x btn-awesome" data-bind="click: annuleren"></button>
<button id="verwijderen" class="fa fa-trash fa-3x btn-awesome" data-bind="click: verwijderenRelatie"></button>
