<div>
    <div class="kolom">
        <h3>Schademeldingen</h3>
        <label for="polisVoorSchademelding">Verzekering</label>
        <select id="polisVoorSchademelding" data-bind="value: schade.polis">
        </select>

        <label for="schadeNummerMaatschappij">Schadenummer Maatschappij</label>
        <input class="form-control" type="text" id="schadeNummerMaatschappij" name="schadeNummerMaatschappij"
               data-bind="value: schade.schadeNummerMaatschappij"/>
        <label for="schadeNummerTussenpersoon">Schadenummer Tussenpersoon</label>
        <input class="form-control" type="text" id="schadeNummerTussenpersoon" name="schadeNummerTussenpersoon"
               data-bind="value: schade.schadeNummerTussenPersoon"/>
        <label for="soortSchade">Soort schade</label>
        <input class="form-control" type="text" id="soortSchade" name="soortSchade"
               data-bind="value: schade.soortSchade"/>
        <label for="locatieSchade">Locatie schade</label>
        <input class="form-control" type="text" id="locatieSchade" name="locatieSchade"
               data-bind="value: schade.locatie"/>
        <label for="statusSchade">Status schade</label>
        <select id="statusSchade" name="statusSchade" data-bind="value: schade.statusSchade">
            <option id="0">Kies een status uit de lijst..</option>
        </select>
        <label for="datumTijdSchade">Datum tijd schade</label>
        <input class="form-control" type="datetime-local" id="datumTijdSchade" name="datumTijdSchade"
               data-bind="value: schade.datumTijdSchade"/>
        <label for="datumTijdMelding">Datum tijd melding</label>
        <input class="form-control" type="datetime-local" id="datumTijdMelding" name="datumTijdMelding"
               data-bind="value: schade.datumTijdMelding"/>
        <label for="datumAfgehandeld">Datum afgehandeld</label>
        <input class="form-control" type="date" id="datumAfgehandeld" name="datumAfgehandeld"
               data-bind="value: schade.datumAfgehandeld"/>
        <label for="eigenRisico">Eigen risico</label>
        <input class="form-control" type="text" id="eigenRisico" name="eigenRisico"
               data-bind="value: schade.eigenRisico"/>
        <label for="omschrijving">Omschrijving</label>
		<textarea class="form-control" id="omschrijving" name="omschrijving"
                  data-bind="value: schade.omschrijving"></textarea>
    </div>
    <div class="kolom">
        <div id="bijlages"></div>

        <hr/>

        <div id="opmerkingen"></div>

        <hr/>

        <div id="taken"></div>
    </div>
    <div style="clear: both;"></div>
    <button class="fa fa-floppy-o fa-3x btn-awesome" id="schadeMeldingOpslaan" data-bind="click: opslaan"></button>
    <button class="fa fa-hdd-o fa-3x btn-awesome" id="schadeMeldingOpslaanOpPaginaBlijven"
            data-bind="click: opslaanOpPaginaBlijven"></button>
    <button class="fa fa-times fa-3x btn-awesome" data-bind="click: annuleren"></button>
</div>