<table>
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Status</th>
        <th>Polisnummer</th>
        <th>Soort</th>
        <th>Kenmerk</th>
        <th>Ingangsdatum</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: polissen">
    <tr>
        <td>
            <a class="fa fa-pencil-square-o"
               data-bind="click: $parent.bewerk, attr: {title: 'Polis met nummer : ' + polisNummer() + ' bewerken'}"></a>
            <a class="fa fa-search"
               data-bind="click: $parent.inzien, attr: {title: 'Polis met nummer : ' + polisNummer() + ' inzien'}"></a>
            <a class="fa fa-times"
               data-bind="click: $parent.verwijder, attr: {title: 'Polis met nummer : ' + polisNummer() + ' verwijderen'}"></a>
        </td>
        <td data-bind="text: status, attr: {class: 'overzicht status ' + status()}"></td>
        <td data-bind="text: polisNummer" class="overzicht polisNummer"></td>
        <td data-bind="text: soort" class="overzicht soort"></td>
        <td data-bind="text: kenmerk" class="overzicht kenmerk"></td>
        <td data-bind="text: $parent.formatDatum(ingangsDatum)" class="overzicht ingangsDatum"></td>
    </tr>
    </tbody>
</table>