<div class="center">
    <table>
        <tr>
            <td>Aantal relaties :</td>
            <td><span data-bind="text: aantalRelaties"></span></td>

            <td></td>
        </tr>
        <tr>
            <td>Aantal bedrijven :</td>
            <td><span data-bind="text: aantalBedrijven"></span></td>

            <td><input type="text" placeholder="Snel zoeken">
                <button>Zoek</button>
            </td>
        </tr>
        <tr>
            <td>Aantal open schades :</td>
            <td><span data-bind="text: aantalOpenSchades"></span></td>

            <td class="td-uitgebreid-zoeken"><a href="zoeken.html" class="uitgebreid-zoeken">Uitgebreid zoeken</a></td>
        </tr>
    </table>
</div>