<div>
    <div class="kolom-2">
        <h3>Bedrijfgegevens</h3>

        <label for="bedrijfsnaam">Naam</label>
        <input type="text" id="bedrijfsnaam" name="bedrijfsnaam" data-bind="value: bedrijfsnaam"/>

        <label for="emailadres">E-mail adres</label>
        <input type="email" id="emailadres" name="emailadres" data-bind="value: emailadres"/>

        <label for="kvk">KVK nummer</label>
        <input type="text" id="kvk" name="kvk" data-bind="value: kvk"/>

        <label for="afkorting">Afkorting</label>
        <input type="text" id="afkorting" name="afkorting" data-bind="value: afkorting" disabled/>

        <label for="opslaan">&nbsp;</label>
        <button id="opslaan" class="fa fa-floppy-o fa-3x btn-awesome" data-bind="click: opslaan"></button>
        <button class="fa fa-times fa-3x btn-awesome" data-bind="click: annuleren"></button>
    </div>
    <div class="kolom-2">
    </div>
</div>