<div>
    <div class="kolom">
        <div class="licentie">
            Pakket A
            <br/>
            <br/>
            Per maand: &euro; 5,00
            <br/>
            Per Jaar: &euro; 50,00
            <br/>
            <br/>
            <br/>
            <div class="selecteer">
                <input type="radio" name="select-licentie" value="a" selected="selected"> Selecteer
            </div>
        </div>
    </div>
    <div class="kolom">
        <div class="licentie">
            Pakket B
            <br/>
            <br/>
            Per maand: &euro; 10,00
            <br/>
            Per Jaar: &euro; 100,00
            <br/>
            <br/>
            <br/>
            <div class="selecteer">
                <input type="radio" name="select-licentie" value="b"> Selecteer
            </div>
        </div>
    </div>
    <div class="kolom">
        <div class="licentie">
            Pakket c
            <br/>
            <br/>
            Per maand: &euro; 20,00
            <br/>
            Per Jaar: &euro; 200,00
            <br/>
            <br/>
            <br/>
            <div class="selecteer">
                <input type="radio" name="select-licentie" value="c"> Selecteer
            </div>
        </div>
    </div>
    <div class="koopknop-area">
        <button class="koopknop">Koop</button>
    </div>
</div>