<h2>Relatie zoeken</h2>
<div class="zoekvelden">
    <hr/>
</div>
<div class="top-zoek-scherm">
    <form>
        <div class="zoekvelden">
            <label>Naam</label><input type="text" data-bind="value: zoekvelden.naam" id="zoekveldenNaam"/>
            <label>Geboortedatum</label><input type="date" data-bind="value: zoekvelden.geboortedatum"/>
            <label>Tussenvoegsel</label><input type="text" data-bind="value: zoekvelden.tussenvoegsel"/>
            <label>Polisnummer</label><input type="text" data-bind="value: zoekvelden.polisnummer"/>
            <label>Voorletters</label><input type="text" data-bind="value: zoekvelden.voorletters"/>
            <label>Schadenummer</label><input type="text" data-bind="value: zoekvelden.schadenummer"/>
            <label>Adres</label><input type="text" data-bind="value: zoekvelden.adres"/>
            <label>Postcode</label><input type="text" data-bind="value: zoekvelden.postcode"/>
            <label>Woonplaats</label><input type="text" data-bind="value: zoekvelden.woonplaats"/>
            <label>Bedrijf</label><input type="checkbox" data-bind="checked: zoekvelden.bedrijf"/>
        </div>
        <div class="zoekknop">
            <button data-bind="click: zoeken">Zoeken&nbsp;<span class="fa fa-search" aria-hidden="true" id="zoekknop"/>
            </button>
        </div>
    </form>
    <div class="actiepunten">
        &nbsp;
    </div>
    <div class="clear"/>
</div>

<div class="zoek-resultaten">
    <h3 id="resultatenH3">Resultaten</h3>
    <table>
        <thead>
        <tr>
            <th>Naam</th>
            <th class="geboortedatum">Geboortedatum</th>
            <th>Adres</th>
            <th class="postcode">Postcode</th>
            <th>Plaats</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: zoekResultaat">
        <tr>
            <td><a data-bind="text: naam, attr: {href: $parent.maaklink($index)}" name="overzichtNaam"></a></td>
            <td><a data-bind="text: geboortedatum, attr: {href: $parent.maaklink($index)}"></a></td>
            <td><a data-bind="text: adres, attr: {href: $parent.maaklink($index)}"></a></td>
            <td><a data-bind="text: postcode, attr: {href: $parent.maaklink($index)}"></a></td>
            <td><a data-bind="text: plaats, attr: {href: $parent.maaklink($index)}"></a></td>
        </tr>
        </tbody>
    </table>
</div>