<input type="hidden" data-bind="value:id"/>

<div class="form-group">
    <label for="soort">Onderwerp</label>
    <select id="soort" data-bind="value: type">
        <option value=""></option>
        <option value="EMAIL">E-mail</option>
        <option value="BRIEF">Brief</option>
    </select>
</div>

<div class="form-group">
    <label for="onderwerp">Onderwerp</label>
    <input type="text" id="onderwerp" name="onderwerp" data-bind="value: onderwerp"></input>
</div>

<div class="form-group">
    <label for="tekst">Tekst</label>
    <textarea id="tekst" name="tekst" data-bind="value: tekst" style="height:200px;"></textarea>
</div>

<div id="fileUpload"/>

<button type="button" class="btn btn-warning" data-bind="click: opslaan">Opslaan</button>
<button type="button" class="btn btn-danger" data-bind="click: verzenden">Verzenden</button>