<h2>Algemeen belastingzaken</h2>
<div id="bedrijven" data-bind="foreach: aangiftes, visible: aangiftes().length > 0">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4">
					<a data-toggle="collapse" data-parent="#accordion" data-bind="attr:{href: idDivLink}, text: jaar" name="jaar"></a>
					&nbsp;&nbsp;&nbsp;
					<div class="btn-group">
					</div>
				</h4>
			</div>

			<div id="fileUpload"></div>

			<hr />

			<div id="opmerkingen"></div>

			<hr />

			<button id="opslaan" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
			<button id="afronden" class="btn btn-success"" data-bind="click: afronden">Afronden</button>
			<button type="button" class="btn btn-warning" data-bind="click: annuleren">Annuleren</button>
		</div>
	</div>
</div>