<h2>Gegevens van de bedrijven</h2>
<div id="bedrijven" data-bind="foreach: bedrijven, visible: bedrijven().length > 0">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4">
					<a data-toggle="collapse" data-parent="#accordion" data-bind="attr:{href: idDivLink}, text: naam" name="naam"></a>
					&nbsp;&nbsp;&nbsp;
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Kies een actie <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<span class="glyphicon glyphicon-pencil" style="cursor:pointer;" data-bind="click: bewerkBedrijf"></span>
								<span style="cursor:pointer;" data-bind="click: bewerkBedrijf" name="bewerkBedrijf">Bewerken</span>
							</li>
							<!--li>
								<span class="glyphicon glyphicon-thumbs-down" style="cursor:pointer;" data-bind="click: $root.schadeMeldenBijPolis"></span>
								<span style="cursor:pointer;" data-bind="click: schadeMeldenBijPolis">Schade melden</span>
							</li-->
							<li class="divider"></li>
							<li>
								<span class="glyphicon glyphicon-trash" style="cursor:pointer;" data-bind="click: $root.verwijderBedrijf"></span>
								<span style="cursor:pointer;" data-bind="click: $root.verwijderBedrijf" name="verwijderBedrijf">Verwijderen</span>
							</li>
						</ul>
					</div>
				</h4>
			</div>
			<div data-bind="attr:{id: idDiv}" class="panel-collapse collapse">
				<div data-bind="if: kvk">
					<span class="polisLabel">Kvk :</span>
					<span data-bind="text: kvk" name="kvk"></span>
				</div>
				<div data-bind="if: straat">
					<span class="polisLabel">Straat :</span>
					<span data-bind="text: straat" name="straat"></span>
				</div>
				<div data-bind="if: huisnummer">
					<span class="polisLabel">Huisnummer :</span>
					<span data-bind="text: huisnummer" name="huisnummer"></span>
				</div>
				<div data-bind="if: toevoeging">
					<span class="polisLabel">Toevoeging :</span>
					<span data-bind="text: toevoeging" name="toevoeging"></span>
				</div>
				<div data-bind="if: postcode">
					<span class="polisLabel">Postcode :</span>
					<span data-bind="text: postcode" name="postcode"></span>
				</div>
				<div data-bind="if: plaats">
					<span class="polisLabel">Plaats :</span>
					<span data-bind="text: plaats" name="plaats"></span>
				</div>
			</div>
		</div>
	</div>
</div>