<ul class="nav nav-tabs" role="tablist">
	<li><div class="navdiv" id="beherenRelatie">Relatie Gegevens</div></li>

	<li class="dropdown"><a href="#" id="menuPolissenTop" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false">Polissen<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<div class="navdiv" id="menuPolissen">Overzicht</div>
			</li>
			<li>
				<div class="navdiv" id="menuPolis">Toevoegen</div>
			</li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" id="menuSchadesTop" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false">Schades<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<div class="navdiv" id="menuSchades">Overzicht</div>
			</li>
			<li>
				<div class="navdiv" id="menuSchade">Toevoegen</div>
			</li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" id="menuHypothekenTop" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-expanded="false">Hypotheken<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<div class="navdiv" id="menuHypotheken">Overzicht</div>
			</li>
			<li>
				<div class="navdiv" id="menuHypotheek">Toevoegen</div>
			</li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" id="menuBelastingzakenTop" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-expanded="false">Algemeen belastingzaken<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<div class="navdiv" id="menuAangiftes">Overzicht</div>
			</li>
			<li>
				<div class="navdiv" id="menuAangifte">Toevoegen</div>
			</li>
		</ul>
	</li>
	<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Communicatie<span-->
	<!--class="caret"></span></a>-->
	<!--<ul class="dropdown-menu" role="menu">-->
	<!--<li>-->
	<!--<div class="navdiv" id="beherenRelatieCommunicaties">Overzicht</div>-->
	<!--</li>-->
	<!--<li>-->
	<!--<div class="navdiv" id="beherenRelatieCommunicatie">Toevoegen</div>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</li>-->
</ul>
<input type="hidden" id="id" name="id" data-bind="value: id" />

<div id="details">details</div>

