<div id="schadesHerhaal" data-bind="foreach: schades, visible: schades().length > 0">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<a data-toggle="collapse" data-parent="#accordion"
					   data-bind="attr:{href: idDivLink}, text: titel"></a>
					&nbsp;&nbsp;&nbsp;
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="dropdown">
							Kies een actie <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<span class="glyphicon glyphicon-pencil" style="cursor:pointer;"
									  data-bind="click: $parent.bewerkSchade"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.bewerkSchade"
									  name="bewerkSchade">Bewerken</span>
							</li>
							<li class="divider"></li>
							<li>
								<span class="glyphicon glyphicon-trash" style="cursor:pointer;"
									  data-bind="click: $parent.verwijderSchade"></span>
								<span style="cursor:pointer;" data-bind="click: $parent.verwijderSchade"
									  name="verwijderPolis">Verwijderen</span>
							</li>
						</ul>
					</div>
				</h4>
			</div>
			<div data-bind="attr:{id: idDiv}" class="panel-collapse collapse">
				<div class="panel-body">
					<div data-bind="if: soortSchade">
						<span class="schadeLabel">Soort schade :</span>
						<span data-bind="text: soortSchade" name="soortSchade"></span>
					</div>
					<div data-bind="if: schadeNummerTussenPersoon">
						<span class="schadeLabel">Schadenummer Maatschappij :</span>
						<span data-bind="text: schadeNummerMaatschappij" name="schadeNummerMaatschappij"></span>
					</div>
					<div data-bind="if: schadeNummerTussenPersoon">
						<span class="schadeLabel">Schadenummer Tussenpersoon :</span>
						<span data-bind="text: schadeNummerTussenPersoon" name="schadeNummerTussenPersoon"></span>
					</div>
					<div data-bind="if: locatie">
						<span class="schadeLabel">Locatie :</span>
						<span data-bind="text: locatie" name="locatie"></span>
					</div>
					<div data-bind="if: statusSchade">
						<span class="schadeLabel">Status schade :</span>
						<span data-bind="text: statusSchade" name="statusSchade"></span>
					</div>
					<div data-bind="if: datumTijdMelding">
						<span class="schadeLabel">Datum/Tijd schade :</span>
						<span data-bind="text: datumTijdSchade" name="datumTijdSchade"></span>
					</div>
					<div data-bind="if: datumTijdMelding">
						<span class="schadeLabel">Datum/Tijd melding :</span>
						<span data-bind="text: datumTijdMelding" name="datumTijdMelding"></span>
					</div>
					<div data-bind="if: eigenRisico">
						<span class="schadeLabel">Datum afgehandeld :</span>
						<span data-bind="text: datumAfgehandeld" name="datumAfgehandeld"></span>
					</div>
					<div data-bind="if: eigenRisico">
						<span class="schadeLabel">Eigen risico :</span>
						<span data-bind="text: $parent.formatBedrag(eigenRisico)" name="eigenRisico"></span>
					</div>
					<div data-bind="if: omschrijving">
						<span class="schadeLabel">Omschrijving :</span>
						<span data-bind="text: omschrijving" name="omschrijving"></span>
					</div>

					<!--<div id="opmerkingenBijSchade" data-bind="foreach: opmerkingen, visible: opmerkingen().length > 0">-->
					<!--<div data-bind="if: tijd">-->
					<!--<span class="schadeLabel">Opmerking</span>-->
					<!--<span data-bind="text: tijd"></span>-->
					<!--<span data-bind="text: medewerker"></span>-->
					<!--</div>-->
					<!--<div data-bind="if: opmerking">-->
					<!--<span class="schadeLabel">&nbsp;</span>-->
					<!--<span data-bind="text: opmerking" name="opmerking" style="width:900px;display:block;float:left;"></span>-->
					<!--</div>-->
					<!--<div style="clear:both;"></div>-->
					<!--</div>-->

					<!--<div id="bijlages2" class="bijlages" data-bind="foreach: bijlages, visible: bijlages().length > 0">-->
					<!--<div>-->
					<!--<span class="schadeLabel">Bijlage :</span>-->
					<!--<a data-bind="attr:{href: url}, title: omschrijvingOfBestandsNaam, text: omschrijvingOfBestandsNaam"-->
					<!--target="_blank"></a>-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
			</div>
    	</div>
    </div>
</div>