<div class="logo-background">
    &nbsp;
    <div class="inloggen-main">
        <div class="inloggen-main-background">
            <div class="inloggen-main-wit">
                <div class="inloggen-main-header">
                    Aanmelden bij Symplex
                </div>
            </div>
        </div>
        <div class="inloggen-main-form">
            <form>
                <div class="getbruikersnaam-wachtwoord">
                    Bedrijfsnaam
                </div>
                <input type="text" autocomplete="off" id="bedrijfsnaam"
                       data-bind="value: bedrijfsnaam, event: {blur: genereerAfkorting}"/>

                <div class="getbruikersnaam-wachtwoord">
                    Afgekorte bedrijfsnaam
                </div>
                <input type="text" autocomplete="off" id="afkorting"
                       data-bind="value: afkorting, event: {blur: komtAfkortingVoor}"/>
                <div id="foutmeldingAfkortingKomtVoor" class="validationMessage" data-bind="visible: afkortingKomtVoor">
                    Deze afkorting komt al voor in Symplex
                </div>

                <div class="getbruikersnaam-wachtwoord">
                    Uw voornaam
                </div>
                <input type="text" autocomplete="off" id="voornaam"
                       data-bind="value: voornaam, event: {blur: genereerInlognaam}"/>

                <div class="getbruikersnaam-wachtwoord">
                    Uw achternaam
                </div>
                <input type="text" autocomplete="off" id="achternaam" data-bind="value: achternaam"/>

                <div class="getbruikersnaam-wachtwoord">
                    Uw e-mailadres
                </div>
                <input type="email" autocomplete="off" id="emailadres" data-bind="value: emailadres"/>

                <div class="getbruikersnaam-wachtwoord">
                    Uw loginnaam wordt
                </div>
                <input type="text" autocomplete="off" id="loginnaam" disabled data-bind="value: inlognaam"/>

                <button id="aanmeldButton" data-bind="click: aanmelden">Aanmelden</button>
            </form>
        </div>
    </div>
</div>